@media (max-width: 575px) {
.nav-text{
font-size:20px;	
}
.banner-text{
	font-size:30px;
	bottom:10px;
}

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {


}

@media (min-width: 992px) and (max-width: 1199px) {
.nav-text{
font-size:35px;
}

}

@media (min-width: 1200px) {
.nav-text{
font-size:35px;
}
h1{
	font-size:60px;
}
h2{
	font-size:45px
}
h3{
	font-size:25px
}
}