vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-P5QUULKQ\\deja9
vti_modifiedby:SR|LAPTOP-P5QUULKQ\\deja9
vti_timelastmodified:TW|12 Nov 2017 06:54:07 -0000
vti_timecreated:TR|18 Oct 2017 22:31:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ringsetting.html gemstoneandshapes.html metals.html ringsizes.html contact.html gallery.html index.html
vti_nexttolasttimemodified:TW|12 Nov 2017 06:54:07 -0000
vti_syncwith_files.000webhost.com\:21/%2f:TX|29 Oct 2017 01:43:03 -0000
vti_syncofs_files.000webhost.com\:21/%2f:TW|30 Oct 2017 07:28:56 -0000
vti_syncwith_ftp.dejaballard.altervista.org\:21/%2f:TX|12 Nov 2017 05:57:10 -0000
vti_syncofs_ftp.dejaballard.altervista.org\:21/%2f:TW|12 Nov 2017 06:46:46 -0000
vti_cacheddtm:TX|12 Nov 2017 06:54:07 -0000
vti_filesize:IR|1477
